{#{% extends 'shared/_MainLayout.html' %}#}
{#{% block content %}#}
{##}
{##}
{##}
{##}
{#<p>{{ profile_user.mobile }}</p>#}
{#<p>{{ profile_user.profile_name }}</p>#}
{#<img src="{{ profile_user.profile_pic.url }}" height="100">#}
{##}
{#<form method="post" action="#" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#    {{ edit_form.profile_name}}#}
{#    {{ edit_form.profile_pic}}#}
{#    <button type="submit" class="btn btn-primary btn-block btn-lg">ثبت نام</button>#}
{##}
{##}
{#</form>#}
{##}
{#{% endblock %}#}