<!-- Share Action Sheet -->
    <div class="modal fade action-sheet inset" id="actionSheetShareBox" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">اشتراک گذاری با</h5>
                </div>
                <div class="modal-body">
                    <div class="action-sheet-content text-center">
                        <div class="row">


{% comment %}
                            <div class="col-2">
                                <a href="#" class="btn btn-icon btn-facebook" data-dismiss="modal">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </a>
                            </div>
                            {% endcomment %}


                             {#SMS android#}
                            <div class="col-2 ">
{#                            <div class="col-2 android-detection">#}
                                <a href="sms:?body=محل پیام اینجاست" class="btn btn-icon btn-twitter" data-dismiss="modal">
                                    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                                </a>
                            </div>

                            {#SMS ios#}
                            <div class="col-2 ios-detection">
                                <a href="sms:&body=محل پیام اینجاست" class="btn btn-icon btn-twitter" data-dismiss="modal">
                                    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                                </a>
                            </div>



                            {# telegram#}
                            <div class="col-2">
                                <a href="#" class="btn btn-icon btn-primary" data-dismiss="modal">
                                    <ion-icon name="paper-plane-outline"></ion-icon>
                                </a>
                            </div>



{% comment %}                            <div class="col-2">
                                <a href="#" class="btn btn-icon btn-instagram" data-dismiss="modal">
                                    <ion-icon name="logo-instagram"></ion-icon>
                                </a>
                            </div>{% endcomment %}


                              {#whatsapp#}

                            <div class="col-2">
                                <a href="whatsapp://send?text=http://yadeo.ir/yadbood/{{ yad.id }}"
                                   class="btn btn-icon btn-whatsapp"
                                   target="_blank">
                                    <ion-icon name="logo-whatsapp"></ion-icon>
                                </a>
                            </div>


                            {#                            eitaa#}
                            <div class="col-2">
                                <a href="https://eitaa.com/share/url?url=https://www.yadeo.ir/yadbood/{{ yad.id }}"
                                    class="btn btn-icon btn-warning" target="_blank">
                                    <img src="https://eitaa.com/assets/images/ico/icon50.png" class="image btn-icon">
                                </a>
                                </a>
                            </div>






                            {#bale#}
                            <div class="col-2">
                                <a href="https://eitaa.com/share/url?url=https://www.yadeo.ir/yadbood/{{ yad.id }}"
                                   class="btn btn-icon " target="_blank">
                                   <img src="{% static 'img/icon/bale.png' %}" alt="بله" class="image btn-icon">
                                </a>
                            </div>


                            {#  sorosh#}
                            <div class="col-2">
                                <a href="https://eitaa.com/share/url?url=https://www.yadeo.ir/yadbood/{{ yad.id }}"
                                   class="btn btn-icon " target="_blank">
                                    <img src="{% static 'img/icon/Soroush.png' %}" alt="سروش پلاس"
                                         class="image btn-icon">
                                </a>
                            </div>



                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- * Share Action Sheet -->
