{% load static%}

<!-- welcome notification  -->
    <div id="notification-welcome" class="notification-box">
        <div class="notification-dialog android-style">
            <div class="notification-header">
                <div class="in">
                    <img src="{% static 'img/icon/72x72.png' %}" alt="image" class="imaged w24">
                    <strong>یاد او</strong>
                    <span>سامانه یادبود و ختم مجازی</span>
                </div>
                <a href="#" class="close-button">
                    <ion-icon name="close"></ion-icon>
                </a>
            </div>
            <div class="notification-content">
                <div class="in">
                    <h3 class="subtitle"> خوش آمدید</h3>
                    <div class="text">
                        ختم قرآن
                    </div>
                </div>
            </div>
        </div>
    </div>