{% extends 'shared/_MainLayout.html' %}

{% load jalali_tags %}
{% load static %}
{% block content %}



    <div id="appCapsule">
{#        <div class="login-form">#}
{#            <div class="section">#}
{#                <h1>راهنمای استفاده از سامانه</h1>#}
{#                <h4>برای ایجاد یادبود جدید فرم زیر را پر کنید</h4>#}
{#            </div>#}
{##}
{#        </div>#}
<div class="blog-post align-content-center">
    <h1 class="title">راهنمای سامانه یادبود مجازی یاد او</h1>
            <div class="mb-2">
                <img src="media/site/help/1.jpg" alt="راهنمای یاداو" class="imaged square w-70 ">
            </div>


            <div class="post-header">
                <div>
                    <a href="#">
                        <img src="assets/img/sample/avatar/avatar1.jpg" alt="avatar" class="imaged w24 rounded ml-05">
1
                    </a>
                </div>
                آذر 11, 1399
            </div>
            <div class="post-body">
                <p>
                    2
                </p>
                <p>
                    3
                </p>
                <p>
                   4
                </p>
                <img src="assets/img/sample/photo/wide2.jpg" alt="image">
                <p>
                   5
                </p>
                <h2>تیتر</h2>
                <p>
                    1
                </p>
                <h4>زیرعنوان</h4>
                <p>
                    2
                </p>
                <h4>زیرعنوان</h4>
                <p>
                   3
            </div>
        </div>





    </div>


{% endblock %}



