{% extends 'shared/_MainLayout.html' %}
{% load jalali_tags %}
{% load static %}
{% block content %}


    <div id="appCapsule">

        <div class="section text-center">
            <img src="media/site/1_pt3xWxZ.png" alt="image" class="imaged w-50 bg-transparent">
        </div>

        <div class="section full">
            <div class="section-title">راهنمای سامانه یاد او</div>
            <div class="wide-block pt-2 pb-2">
                در اینجا راهنمای مختصری برای استفاده از سامانه گرد آورده ایم.
            </div>
        </div>

        <div class="section full mt-2">
            <div class="section-title">درباره یاداو</div>

            <div class="accordion" id="accordionExample1">

                <div class="item">
                    <div class="accordion-header">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion1">
                            کار یاد او چیست؟
                        </button>
                    </div>
                    <div id="accordion1" class="accordion-body collapse" data-parent="#accordionExample1">
                        <div class="accordion-content">
                            یاد او سامانه مجازی برای برگزاری یادبود، اهدا صلوات، فاتحه و ختم قرآن کریم می باشد. در این
                            سامانه ختم قرآن به صورت سراسری و در بین همه یادبود ها انجام می شود.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="accordion-header">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion3"
                                aria-expanded="false">
                            آیا استفاده از یاداو هزینه دارد؟
                        </button>
                    </div>
                    <div id="accordion3" class="accordion-body collapse" data-parent="#accordionExample1" style="">
                        <div class="accordion-content">
                            خیر. استفاده از سامانه چه در بخش ایجتد یادبود و چه در بخش مشارکت در خیرات رایگان است.
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="accordion-header">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion4"
                                aria-expanded="false">
1
                        </button>
                    </div>
                    <div id="accordion4" class="accordion-body collapse" data-parent="#accordionExample1" style="">
                        <div class="accordion-content">
11
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="accordion-header">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion5"
                                aria-expanded="false">
2
                        </button>
                    </div>
                    <div id="accordion5" class="accordion-body collapse" data-parent="#accordionExample1" style="">
                        <div class="accordion-content">
22
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="section full mt-2">
            <div class="section-title">مشارکت در یادبود</div>

            <div class="accordion" id="accordionExample2">

                <div class="item">
                    <div class="accordion-header">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion6">
3
                        </button>
                    </div>
                    <div id="accordion6" class="accordion-body collapse" data-parent="#accordionExample2">
                        <div class="accordion-content">
33
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="accordion-header">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion7">
4
                        </button>
                    </div>
                    <div id="accordion7" class="accordion-body collapse" data-parent="#accordionExample2">
                        <div class="accordion-content">
44
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div class="section full mt-2 mb-2">
            <div class="section-title">پشتیبانی</div>

            <div class="accordion" id="accordionExample3">

                <div class="item">
                    <div class="accordion-header">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#accordion8">
5
                        </button>
                    </div>
                    <div id="accordion8" class="accordion-body collapse" data-parent="#accordionExample3">
                        <div class="accordion-content">
                            55
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>






    <div id="appCapsule">
        <div class="blog-post">
            <h1 class="title">راهنمای سامانه یادبود مجازی یاد او</h1>
            <p style="white-space: pre-wrap; text-align: justify; margin-right: 0.9rem;margin-left: 0.9rem;">یاد او
                سامانه مجازی برای برگزاری یادبود، اهدا صلوات، فاتحه و ختم قرآن کریم می باشد. در این سامانه ختم قرآن به
                صورت سراسری و در بین همه یادبود ها انجام می شود.</p>
            <div class="">
                <img src="media/site/help/1.jpg" alt="راهنمای یاداو" class="imaged w-70 align-center border-primary">
            </div>


            <div class="post-header">
                <div>
                    <a href="#">
                        <img src="assets/img/sample/avatar/avatar1.jpg" alt="avatar"
                             class="imaged w24 rounded ml-05">
                        1
                    </a>
                </div>
                آذر 11, 1399
            </div>
            <div class="post-body">
                <p>
                    2
                </p>
                <p>
                    3
                </p>
                <p>
                    4
                </p>
                <img src="assets/img/sample/photo/wide2.jpg" alt="image">
                <p>
                    5
                </p>
                <h2>تیتر</h2>
                <p>
                    1
                </p>
                <h4>زیرعنوان</h4>
                <p>
                    2
                </p>
                <h4>زیرعنوان</h4>
                <p>
                    3
            </div>
        </div>


    </div>


{% endblock %}



