{% extends 'shared/_MainLayout.html' %}

{% load jalali_tags %}
{% load static %}
{% block content %}



    <div id="appCapsule">
{#        <div class="login-form">#}
{#            <div class="section">#}
{#                <h1>راهنمای استفاده از سامانه</h1>#}
{#                <h4>برای ایجاد یادبود جدید فرم زیر را پر کنید</h4>#}
{#            </div>#}
{##}
{#        </div>#}
<div class="blog-post">
            <div class="mb-2">
                <img src="assets/img/sample/photo/wide1.jpg" alt="image" class="imaged square w-100">
            </div>
            <h1 class="title">چگونه می توان عکسهای منظره را به 10 روش آسان گرفت</h1>

            <div class="post-header">
                <div>
                    <a href="#">
                        <img src="assets/img/sample/avatar/avatar1.jpg" alt="avatar" class="imaged w24 rounded ml-05">
                        الکس ادوارد
                    </a>
                </div>
                آذر 11, 1399
            </div>
            <div class="post-body">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                </p>
                <p>
                    برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                    زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد
                </p>
                <p>
                    با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
                    فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت
                    تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای
                    موجود طراحی اساسا مورد استفاده قرار گیرد.
                </p>
                <img src="assets/img/sample/photo/wide2.jpg" alt="image">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                </p>
                <h2>تیتر</h2>
                <p>
                    برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                    زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد
                </p>
                <h4>زیرعنوان</h4>
                <p>
                    تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در
                    زبان فارسی ایجاد کرد. در این صورت می توان امید داشت
                </p>
                <h4>زیرعنوان</h4>
                <p>
                    تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی
                    دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                </p>
            </div>
        </div>





    </div>


{% endblock %}



